@keyframes beuszas{
    0%{
        transform: translate(0, 100vh);
    }
    100%{transform: translate(0,0);}
}

@keyframes fadeIn
{
    0% 
    {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

body{
    background-color:rgb(255, 243, 229);
    font-family: sans-serif;
    margin: 0;
    
}

#loginkep {
    
    margin: 7px auto;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

#loginkep:hover{
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    transition : box-shadow 0.3s;
}

#loginform {
    display: block;
    margin: auto;
    width: 200px;
    
    
}

#fieldset{
    margin: auto 0;
    padding: 10px 10px;
    border-radius: 15px;
    
    
}

#containter{
    animation: fadeIn 0.5s ease-in-out forwards;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    display: block;

    
}

#kulso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#hatter {
    margin: auto;
    background-color: bisque; 
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height:575px;
    border-radius: 15px;

}

.loginszoveg{
    border:0;
    margin: 7px auto;
    width: 150px;
    height:30px;
    border-radius: 15px;
    text-align: center;
    padding: 0 0;
}

.loginszoveg:focus{
    outline: none;

}

.gomb {
    border:0;
    margin: 7px auto;
    width: 150px;
    height:30px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(255, 218, 185);
    font-size: 10px;
}

.gomb:hover {
    background-color:rgb(253, 209, 170) ;
    transition: background-color 0.3s;
    opacity: 0.8;
    
}

.gomb:active {
    background-color:rgb(83, 206, 223) ;
}

.nobg{
    background: none;
    text-align: center;
    width: 150px;
    border:0px;
    margin: 5px auto;
}

#reg{
    display: flex;
    border:0;
    margin: 7px auto;
    width: 150px;
    height:30px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    background-color:rgb(231, 230, 230);
    /* font-size: small; */
    line-height: 2.3;
    color: black;
}

#reg:hover{
    opacity: 0.8;
    
}