@keyframes beuszas{
    0%{
        transform: translate(0, 100vh);
    }
    100%{transform: translate(0,0);}
}

body{
    background-color:bisque;
    font-family: sans-serif;
    margin: 0;
    
}

#loginkep {
    
    margin: 7px auto;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

#loginkep:hover{
    box-shadow: 6px 6px;
    transition : box-shadow 1.3s;
}

#loginform {
    display: block;
    margin: auto;
    width: 200px;
    
    
}

#fieldset{
    margin: auto 0;
    padding: 10px 10px;
    border-radius: 15px;
    
    
}

#containter{
    animation: beuszas 0.7s ease-in-out forwards;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    display: block;

    
}

#hatter {
    margin: auto;
    /* background-color: bisque; */
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.loginszoveg{
    border:0;
    margin: 7px auto;
    width: 150px;
    height:30px;
    border-radius: 15px;
    text-align: center;
    padding: 0 0;
}

.loginszoveg:focus{
    outline: none;

}

.gomb {
    border:0;
    margin: 7px auto;
    width: 150px;
    height:30px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(255, 218, 185);
}

.gomb:hover {
    background-color:rgb(253, 209, 170) ;
    transition: background-color 0.3s;
    
}

.gomb:active {
    background-color:rgb(83, 206, 223) ;
}

.nobg{
    background: none;
    text-align: center;
    width: 150px;
    border:0px;
    margin: 5px auto;
}

#reg{
    display: block;
    border:0;
    margin: 7px auto;
    width: 150px;
    height:30px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color:rgb(231, 230, 230);
    font-size: small;
    line-height: 2.3;
    color: black;
}








